<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fullname %></h1>
    <p>
      <%= @fullname  %> đã bình luận vào bài viết của bạn.!
    </p>
  </body>
</html>