<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fullname %></h1>
    <p>
      Có một ai đó đã đăng nhập vào tài khoản bạn, nếu không phải là bạn thì hãy đổi mật khẩu ngay nhé.!
    </p>
  </body>
</html>