<div class="col-md-3 bann-left active" id="left">
<h3>Danh sách chức năng</h3>
<div class="blo-top">
    <li><a href="/post/new">||   Thêm bài viết mới</a></li>
    <li><a href="/post">||   Xem danh sách bài viết</a></li>
</div>
</div>