<%= render "shared/header" %>
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="/abouts">About me</a></li>
		</ol>

		<div class="row">
			<div class="col-md-12">
				<article class="blog-post">
					<div class="blog-post-body">
						<div class="blog-post-text">

							<div class="row" style="margin-top: 10px">
								<div class="col-md-offset-2 col-md-8">
									<div class="modal-content">
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-4 col-md-3">
													<center>
														<img src="https://avatars1.githubusercontent.com/u/20050123?v=4&s=400" width="200" height="200" border="0" align="center"
														 class="img-circle" />
														<h4> 1412579</h4>
														<h3 class="media-heading">Vũ Minh Trí <small>HCMUS</small></h3>
													</center>
												</div>
												<div class="col-sm-8 col-md-9" style="margin-top: 20px">

													<p><strong>Skills: </strong>
														<span class="label label-warning">HTML/CSS/Bootstrap</span>
														<span class="label label-success">Database/SQL</span>
														<span class="label label-success">PHP/Laravel</span>
														<span class="label label-danger">.Net/C#/Asp.net</span>
														<h4>
													</p>
													<span class="label label-success">NodeJS</span>
													<span class="label label-success">React Native</span>
													<hr>
													<center>
														<p class="text-left"><strong>About me: </strong><br> Là người ham học giỏi, thích cập nhật các công nghệ mới, tự nhận mình là người
															học khá chậm, nhưng luôn cố gắng siêng năng để bù cái ngu!!!<br> Ahihi!
														</p>
													</center>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row" style="margin-top: 30px">
								<div class="col-md-offset-2 col-md-8">
									<div class="modal-content">
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-4 col-md-3">
													<center>
														<img src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/15542427_981826215284151_3479666396018177830_n.jpg?oh=795c3271c3d01517a3b5d7a6f9dba9fa&oe=5A462625"
														 width="200" height="200" border="0" align="center" class="img-circle" />
														<h4> 1412689</h4>
														<h3 class="media-heading">Hoàng Thị Bích Vân <small>HCMUS</small></h3>
													</center>
												</div>
												<div class="col-sm-8 col-md-9" style="margin-top: 20px; width= 30%">

													<p><strong>Skills: </strong>
														<span class="label label-warning">HTML/CSS/Bootstrap</span>
														<span class="label label-info">Database/SQL</span>
														<span class="label label-success">Android</span>
														<h4>
													</p>
													<hr>
													<center>
														<p class="text-left"><strong>About me: </strong><br> Là người hòa đồng, thích du lịch, nghe nhạc, chơi nhạc. Tiếp thu khá chậm nhưng
															quyết tâm tập trung thì mọi công việc đều trở nên dễ dàng</p>
													</center>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="blog-post-body row" style="margin-top: 10px;text-align: center">
						<h2>HCMUS</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6343350735315!2d106.67983811435032!3d10.7626390923309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1491842553036"
						 width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</article>
			</div>
		</div>
	</div>

	<%= render "shared/footer" %>