<%= render "shared/header" %>
	<!-- header -->
	<!-- Page Content -->
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
			<li class="breadcrumb-item"><a href="/albums">Albums</a></li>
		</ol>

		<div class="albums">
			<div class="container">
				<div class="album-info">
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS1</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS2</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS3</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album lost">
						<div class="album-box">
							<h4>ALBUMS4</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="album-info">
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS1</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS2</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS3</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album lost">
						<div class="album-box">
							<h4>ALBUMS4</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="album-info">
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS1</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS2</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS3</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album lost">
						<div class="album-box">
							<h4>ALBUMS4</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="album-info">
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS1</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS2</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album">
						<div class="album-box">
							<h4>ALBUMS3</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="col-md-3 album lost">
						<div class="album-box">
							<h4>ALBUMS4</h4>
							<h5>Người tạo: </h5>
							<p>View: </p> 							<a href="/images">Xem thêm ảnh</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>




				<%= render "shared/footer" %>