<!-- header -->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="/"><img src="images/logo.png" class="img-responsive" alt=""></a>
			</div>

				<div class="head-nav">
					<span class="menu"> </span>
						<ul class="cl-effect-1">
							<li><a href="/">Home</a></li>
							<li><a href="/abouts">About Us</a></li>
							<li class="active"><a href="/albums">Album</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="404.html">Shortcodes</a></li>
							<li><a href="login.html">Login</a></li>
							<li><a href="contact.html">Contact</a></li>
										<div class="clearfix"></div>
						</ul>
				</div>
						<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav -->



					<div class="clearfix"> </div>
		</div>
	</div>
<!-- header -->
<!-- header -->
 	<!-- Page Content -->
    <div class="container">


		<div class="albums">
	<div class="container">
		<div class="album-info">
			<div class="col-md-3 album">
			     <div class="album-box">
				   <h4>ALBUMS1</h4>
				    <h5>Người tạo: </h5>
						<p> <span class="glyphicon glyphicon-eye-open"></span></p>
				 </div>
			</div>
			<div class="col-md-3 album">
			     <div class="album-box">
				   <h4>ALBUMS2</h4>
				    <h5>Người tạo: </h5>
						<p> <span class="glyphicon glyphicon-eye-open"></span></p>
				 </div>
			</div>
			<div class="col-md-3 album">
			     <div class="album-box">
				   <h4>ALBUMS3</h4>
				    <h5>Người tạo: </h5>
						<p> <span class="glyphicon glyphicon-eye-open"></span></p>
				 </div>
			</div>
			<div class="col-md-3 album lost">
			     <div class="album-box">
				   <h4>ALBUMS4</h4>
				    <h5>Người tạo: </h5>
						<p> <span class="glyphicon glyphicon-eye-open"></span></p>
				 </div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!---728x90--->
			<div class="music-info">
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
				<div class="music-info two">
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
				<div class="music-info two">
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-4 music-grids">
					<figure class="effect-bubba">
						<img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
						<figcaption>
							<h4>ALBUMS1</h4>
							<p>In sit amet sapien eros Integer  in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
    <!-- /.container -->

<div class="footer">
			<div class="col-md-3 foot-1">
				<h4>Quick Links</h4>
				<ul>
					<li><a href="#">||   Lorem Ipsum passage</a></li>
					<li><a href="#">||   Finibus Bonorum et</a></li>
					<li><a href="#">||   Treatise on the theory</a></li>
				</ul>
			</div>
			<div class="col-md-3 foot-1">
				<h4>Favorite Resources</h4>
				<ul>
					<li><a href="#">||   Characteristic words</a></li>
					<li><a href="#">||   combined with a handful</a></li>
					<li><a href="#">||   which looks reasonable</a></li>
				</ul>
			</div>
			<div class="col-md-3 foot-1">
				<h4>About Us</h4>
				<ul>
					<li><a href="#">||  Even slightly believable</a></li>
					<li><a href="#">||  Hidden in the middle</a></li>
					<li><a href="#">||  Ipsum therefore always</a></li>
				</ul>
			</div>
			<div class="col-md-3 foot-1">
				<h4>Custom Menu</h4>
				<ul>
					<li><a href="#">||  Internet tend to repeat</a></li>
					<li><a href="#">||  Alteration in some form</a></li>
					<li><a href="#">||  This book is a treatise</a></li>
				</ul>
			</div>

			<div class="clearfix"> </div>
			<div class="copyright">
				<p>Copyrights © 2015 Voguish All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
