<!DOCTYPE HTML>
<html>

<head>
  <title>1412579 - 1412689 | Thương mại điện tử 2017 | Lab01</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="1412579 - 1412689 | Thương mại điện tử 2017 | Lab01" />
  <link rel="icon" href="/images/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>
  <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript" language="javascript" src="//cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.min.js"></script>
      <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script>
        $(document).ready('turbolinks:load',function () {
          alert("Test");
          $('#myTable').DataTable();
          $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
          });
        });
      </script>
      <% if @home %>
      <script>
      $(document).ready('turbolinks:load',function(e){
        
        var read;
        read = editormd("read", {
            readOnly: true,
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            path    : "../lib/"
        });
      });
      </script>
      <%else%>
      <script>
        $(document).ready('turbolinks:load',function(e){
          var compose;
          compose = editormd("compose", {
              width   : "100%",
              height  : 500,
              syncScrolling : "single",
              path    : "/lib/"
          });
      });
      
    </script>
      <%end%>
</body>

</html>


